li{
	list-style:none;
}
.header{
	background-color:#26d0c9;
	color:#fff;
	height:90px;
}
.header-logo{
    font-size:36px;
    float:left;
    padding:20px 30px;
	padding-right:50px;
}
a{
    /*list-style: none;*/
    float:left;
    padding:35px 30px;
    height:100px;
}
.header{
    /*background:rgb(75, 253, 5);*/
    background-color: #25ff92;
    height:100px;
}
