/*
 * header
 */
.header-list a:link { color:#000000; text-decoration:none }
.header{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	background-color:rgba(75, 219, 106, 0.7);
	color:#fff;
	height:80px;
}
.header-inner{
	padding:0 25%;
	text-align:center;
}
.header-logo{
    font-size:36px;
    float:left;
    padding:10px 30px;
	padding-right:50px;
}
.header a{
	color:#fff;
	border:none;
	float:left;
	display: inline-block;
    padding:15px 30px;
    height:20px;
}
.header-list{
	text-align:center;
	width:410px;
	margin:0 auto;
}
.header-list li{
	display:inline;
}
.header-list ul{
	height:20px;
	text-align:center;
}
.btn{
	cursor: pointer;
}
.btn:hover{
	background-color:rgba(75, 219, 106, 0.9);
}


li{
	list-style:none;
}
h2{
	font-size:25px;
}

/*
 * body
 */
body{
	#background-image:url("../sources/IMG_1098.jpg");
	#background-size:cover;
}
.main{
	position:absolute;
	width:100%;

	margin-top:100px;
	
}
.main-inner{
	padding-left:25%;	
	padding-right:25%;
	overflow:visible;
	
	width:auto;
}
.main-contents{
	font-size:40px;
	position:relative;
	overflow:visible;
	border-bottom:2px solid rgb(0,0,0)
}

.main-sabcontents{
	#margin:auto auto;
	#text-align:center;
}
.main-icons{
	margin:auto auto;
	text-align:center;
}
.main-icons a:link { color:#000000; text-decoration:none }
.main-icons a:visited { color:#000000; text-decoration:none }
.main-icons a:hover { color:#000000; text-decoration:none }
.main-icons a:active { color:#000000; text-decoration:none }

.github{
	font-size:50px;

}
.twitter{
	font-size:50px;
	padding-left:15px;
	color:#00acee;
}

.break{
	border-bottom:1px solid #000000;
}
